<!doctype html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<header>
    <!-- content here -->
    <%- include('layouts/navbar') -%>
</header>

<main>
    <section class="container" style="margin-top: 140px; margin-bottom: 110px;">
        <div class="row justify-content-center align-items-center mb-6">
            <div class="col-lg-10">
                <h1 class="display-4 fw-bold">Recipes</h1>
                <p class="lead">Explore our collection of delicious recipes and start cooking today!</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <div class="row">
                    <% recipes.forEach(recipe => { %>
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <img src="<%= recipe.image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= recipe.title %></h5>
                                    <p class="card-text"><%= recipe.description %></p>
                                    <a href="/singleRecipe/<%= recipe._id %>" class="btn btn-primary">View Recipe</a>
                                    <% if(loggedIn) { %>
                                        <a href="/delete/recipe/<%= recipe._id %>" class="btn btn-floating btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('layouts/footer') -%>
</body>
</html>